{{ block "board" . }}
<div id="board-wall" data-xpos="" data-ypos="">
  <div id="board-frame">
    <div id="board" class="board" style="">
      {{ range .Tiles }}
      <div class="tile-row" style="display:flex; flex-direction: row;">
        {{ range .}}
        <div style="height:10px;width:10px;flex-shrink: 0;" name="{{.X}},{{.Y}}" class="tile">
        </div>
        {{end}}
      </div>
      {{ end }}
      {{ range .Bulletins }}
      <div class="bulletin"
        style="position: absolute; top: {{ .Top }}px; left: {{.Left}}px; width: {{ .Width }}px; height: {{ .Height }}px; background-color: blue;">
        {{ .Content }}
      </div>
      {{ end }}
      <div id="bulletin-outline"></div>
      <div id="content-preview" class=""></div>
    </div>
  </div>
</div>
{{ end }}
