{{ block "board" . }}
<div id="board-wall" data-xpos="" data-ypos="">
  <div id="board-frame">
    <div id="board" class="board" style="">
      {{ template "bulletins" .Bulletins }}
      <div id="bulletin-outline"></div>
      <div id="content-preview" class=""></div>
      <div id="floating-menu">
        <div id="floating-menu-ring"></div>
        <button id="floating-menu-claim-button">CLAIM ME</button>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ block "bulletins" . }}
{{ range . }}
{{ template "bulletin" .}}
{{ end }}
{{ end }}

{{ block "bulletin" . }}
<div class="bulletin"
  style="position: absolute; top: {{ .Top }}px; left: {{.Left}}px; width: {{ .Width }}px; height: {{ .Height }}px;">
  {{ .Content }}
</div>
{{ end }}
