{{ block "claim" . }}
<div id="claim-page">
  <div id="claim-container">
    <div id="claim-bulletin-card-slot">
      <div id="claim-bulletin-card" style="width: {{.Width}}px; height: {{.Height}}px; scale: 0.3;">
      </div>
    </div>
    <form id="bulletin-claim-form" hx-post="/bulletin" hx-target="#body-root">
      <span>Coords: {{ .X_ }} {{ .Y_ }}</span>
      <span>Coords: {{ .X}} {{ .Y }}</span>
      <input name="start_pos" readonly value="{{ .X_ }},{{ .Y_ }}">
      <input name="end_pos" readonly value="{{ .X }},{{ .Y }}">
      <textarea name="content" id="bulletin-claim-form-textarea"></textarea>
      <div id="colour-picker">
      </div>
      <button type="submit">Claim</button>

  </div>
  <script src="/static/js/modules/bulletin-claim.js"></script>
</div>
{{ end }}
