{{ block "index-board" . }}
<!DOCTYPE html>
<html lang="en">
{{ template "head" .}}

<body id="body-root">
  {{ template "frame" .}}
  {{ template "board" . }}

  <script type="module" src="/static/js/main.js"></script>
</body>


</html>

{{ end }}

{{ block "index-claim" . }}
<!DOCTYPE html>
<html lang="en">
{{ template "head" .}}

<body id="body-root">
  {{ template "claim" .}}

  <script type="module" src="/static/js/main.js"></script>
</body>


</html>

{{ end }}

{{ block "head" . }}

<head>
  <title></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://unpkg.com/htmx.org@2.0.4"
    integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
</head>
{{ end }}
<!--
  {{ template "claim" . }}
  {{ template "frame" .}}
  {{ template "board" . }}
  -->
