{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://unpkg.com/htmx.org@2.0.4"
    integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
</head>

<body>
  <div id="board" class="board" style="display: flex; flex-direction: column; gap: 5px;">
    {{ range .Tiles }}
    <div class="tile-row" style="display:flex; flex-direction: row; gap: 5px;">
      {{ range .}}
      <div style="height:50px;width:50px;" class="tile">{{ .Letter }}</div>
      {{end}}
    </div>
    {{ end }}
  </div>
  <div>
    <button id="claim-button" hx-post="/claim">claim</button>
  </div>
  <script src="/static/js/main.js"></script>
</body>


</html>

{{ end }}
