/* @@@@@@@@@@@@@@@@
 * FONTS
 * */
@font-face {
  font-family: "IBM Plex Mono";
  src: url("/static/fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf") format("truetype");
  font-display: swap;
}


/* @@@@@@@@@@@@@@@@
 * BASE
 * */
html {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --pri-bg: #F5E6E8;
  --sec-bg: #684132;
  /*--grass: #366447;*/
  /*--grass: #357960;*/
  /*--grass: #1f7461;*/
  /*--grass: #01994A;*/
  --bulletin-bg: #e9ba71;
  --board-bg: #ffffeb;
  --board-bg: #0f5e9c;
  --board-bg: #2389da;
  --grass: #6ac25b;
  --text: #382418;
  --accent: #624632;

  --good: #5bb85d;
}



/* @@@@@@@@@@@@@@@@
 * FIXED UI
 * */
#frame {
  width: 100%;
  padding: 4px;
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: left;
  align-items: center;
}

#board-title {
  top: 0;
  height: auto;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#board-title h1 {}



/* @@@@@@@@@@@@@@@@
 * THE BOARD
 * */
#board-wall {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  /*background-color: #357960;*/
  background-color: var(--grass);
}

#board-frame {
  position: relative;
  transform-origin: top left;
  background-color: transparent;
  width: calc(2002px + 200px);
  height: calc(2002px + 200px);
  /* idk about this, stops cutoff of dots grid */
  background-size: 40px 40px;
  background-position: 1px 1px;
  /*background-image:
    linear-gradient(to right, grey 2px, transparent 2px),
    linear-gradient(to bottom, grey 2px, transparent 2px);*/
  /*background-image: radial-gradient(rgb(98, 70, 50, 0.1) 2px, transparent 2px);*/

}

#board {
  cursor: grab;
  background-clip: content-box;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  top: 100px;
  left: 100px;
  width: 2002px;
  height: 2002px;
  transform-origin: top left;
  background-size: 40px 40px;
  background-position: -19px -19px;
  /*background-image:
    linear-gradient(to right, grey 2px, transparent 2px),
    linear-gradient(to bottom, grey 2px, transparent 2px);*/
  background-image: radial-gradient(rgb(98, 70, 50, 0.0) 2px, transparent 2px);
  background-color: var(--board-bg);
  border-radius: 6px;
  outline: var(--bulletin-bg) 8px solid;
}

.bulletin {
  background-color: var(--bulletin-bg);
  color: white;
  text-align: center;
  font-size: 1rem;
  transform-origin: top left;
  justify-content: center;
  align-content: center;
  /*padding: 4px;*/
  text-wrap: wrap;
  word-break: break-all;
  word-wrap: break-word;
  user-select: none;
  /* Safari */
  -webkit-user-select: none;
  border-radius: 2px;
  transform: translate(0, 8px);
  border-radius: 6px;

  font-family: "IBM Plex Mono";
}

.bulletin #bulletin-face {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--grass);
  transform: translate(0, -8px);
  border-radius: 6px;
}

.board-bulletin {
  position: absolute;
  z-index: 10;
}

/* @@@@@@@@@@@@@@@@
 * CLAIMING
 * */
#bulletin-outline {
  background-color: transparent;
  pointer-events: none;
  position: absolute;
  border: 5px dashed var(--sec-bg);
}

#bulletin-outline>a {
  position: relative;
  top: 100%;
  left: 100%;
  pointer-events: all;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: var(--good);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  color: white;
  align-items: center;
  justify-content: center;

  display: none;
}

#bulletin-outline svg {
  aspect-ratio: 1 / 1;
  padding: 10px 10px;
  width: 40px;
  height: 40px;
}

.bulletin-preview {
  position: absolute;
  pointer-events: none;
  background-color: var(--bulletin-bg);
  opacity: 0.7;
  border: 2px dashed var(--sec-bg);
  padding: 4px;
  z-index: 10;
}



/* @@@@@@@@@@@@@@@@
 * CLAIM VIEW
 * */

#claim-page {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#claim-container {
  width: 50%;
  height: calc(100% - 200px);
  margin: auto;
}

#claim-bulletin-card-slot {
  position: relative;
  width: 100%;
  height: 50%;
  margin: 20px 20px;
}

.bulletin#claim-bulletin-card {
  position: absolute;
  z-index: 10;

  box-shadow: 4px 3px 221px 15px rgba(255, 255, 255, 0.31);
  -webkit-box-shadow: 4px 3px 221px 15px rgba(255, 255, 255, 0.31);
  -moz-box-shadow: 4px 3px 221px 15px rgba(255, 255, 255, 0.31);

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#bulletin-claim-form {
  color: white;
  display: flex;
  flex-flow: column;
  gap: 4px;
}


/* @@@@@@@@@@@@@@@@
 * FLOWER PLANTING
 * */

#flower-preview {
  position: absolute;
  z-index: 50;
  pointer-events: none;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
}

#flower-preview-circle {
  outline: 4px var(--accent) solid;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform-origin: top left;
  transform: translate(-50%, -50%);
  width: 100%;
  display: block;
}

#flower-preview-circle img {
  width: 100%;
  height: 100%;
}

#flower-preview-image {
  animation: flowerPulse 2s infinite ease-in-out;
}

#flower-preview form {
  pointer-events: all;
  position: absolute;
  opacity: 0;
  transition: opacity 200ms;
  transform-origin: top left;
  left: 100%;
  top: 100%;
  background-color: var(--accent);
  display: flex;
  padding: 5px;
  gap: 5px;
  flex-direction: column;
  border-radius: 1px;
  color: white;
  font-size: 1rem;
}

#flower-preview-form.left {
  left: 0;
  transform: translateX(-100%)
}

#flower-species-selector {
  display: flex;
  width: 100%;
  height: 50px;
}

#flower-preview-form .buttons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  width: 100%;
  text-transform: uppercase;
}

#submit-flower-button {
  grid-column: span 2;
}

#flowers-layer {
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 20;
}

.flower {
  pointer-events: visibleFill;
  position: absolute;
  transform-origin: top left;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}

@keyframes flowerPulse {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.95;
  }

  100% {
    opacity: 0.5;
  }
}


/* @@@@@@@@@@@@@@@@
 * FLOATING MENU
 * */
#floating-menu {
  width: 0;
  height: 0;
  overflow-y: visible;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 50;
}

#floating-menu-ring {
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
  border: 3px solid var(--accent);
  border-radius: 50%;
  position: absolute;
  transition: scale 100ms ease-out;
  transform-origin: center;
  scale: 0;
}

#floating-menu-ring .appear {
  scale: 1;
}

#floating-menu.appear>#floating-menu-ring {
  scale: 1;
}

#floating-menu-buttons {
  position: relative;
  transform: translate(10px, 10px);
}

#floating-menu-buttons>button {
  text-transform: uppercase;
  font-size: 1.5rem;
  width: min-content;
  text-wrap: nowrap;
  position: relative;
  left: -100%;
  background-color: var(--accent);
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  color: white;
  transition: opacity 200ms ease-in-out;
  opacity: 0;
  animation: 5s button-floating 0s linear infinite;
}

#floating-menu.appear button {
  opacity: 1;
}

@keyframes button-floating {
  0% {
    transform: translateX(0px) translateY(0px);
  }

  12% {
    transform: translateX(2px) translateY(1px);
  }

  25% {
    transform: translateX(3px) translateY(2px);
  }

  37% {
    transform: translateX(2px) translateY(3px);
  }

  50% {
    transform: translateX(0px) translateY(2px);
  }

  62% {
    transform: translateX(-2px) translateY(3px);
  }

  75% {
    transform: translateX(-3px) translateY(2px);
  }

  87% {
    transform: translateX(-2px) translateY(1px);
  }

  100% {
    transform: translateX(0px) translateY(0px);
  }
}
