/* @@@@@@@@@@@@@@@@
 * FONTS
 * */
@font-face {
  font-family: "IBMPlexMono";
  src: url("/static/fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf") format("truetype");
  font-display: swap;
}



body {
  font-family: "IBMPlexMono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "IBMPlexMono", monospace;
}

:root {
  --pri-bg: #F5E6E8;
  --sec-bg: #E1C6B7;
}



#frame {
  width: 100%;
  padding: 4px;
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: left;
  align-items: center;
}


#board-wall {
  width: 100vw;
  /*height: 100vh;*/
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#board-frame {
  position: relative;
  transform-origin: top left;
  background-color: transparent;
  width: calc(3840px + 200px);
  height: calc(2160px + 200px);
}

#board {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  top: 100px;
  left: 100px;
  width: 3840px;
  height: 2160px;
  transform-origin: top left;
  background-size: 40px 40px;
  background-image: radial-gradient(circle, var(--sec-bg) 2px, white 3px);
}


/* @@@@@@@@@@@@@@@@
 * FLOATING MENU
 * */
#floating-menu {
  width: 0;
  height: 0;
  overflow-y: visible;
  align-items: center;
  justify-content: center;
  position: absolute;
}

#floating-menu-ring {
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%);
  border: 3px solid var(--sec-bg);
  border-radius: 50%;
  position: absolute;
  transition: scale 100ms ease-out;
  transform-origin: center;
  scale: 0;
}

#floating-menu-ring .appear {
  scale: 1;
}

#floating-menu.appear>#floating-menu-ring {
  scale: 1;
}

#floating-menu-claim-button {
  height: 1rem;
  font-size: 2rem;
  width: min-content;
  text-wrap: nowrap;
  left: -50%;
  background-color: transparent;
  border: none;
  color: var(--sec-bg);
  transition: opacity 200ms ease-in-out;
  opacity: 0;
  animation: 5s button-floating 0s linear infinite;
}

#floating-menu.appear button {
  opacity: 1;
}

@keyframes button-floating {
  0% {
    transform: translateX(0px) translateY(0px);
  }

  12% {
    transform: translateX(2px) translateY(1px);
  }

  25% {
    transform: translateX(3px) translateY(2px);
  }

  37% {
    transform: translateX(2px) translateY(3px);
  }

  50% {
    transform: translateX(0px) translateY(2px);
  }

  62% {
    transform: translateX(-2px) translateY(3px);
  }

  75% {
    transform: translateX(-3px) translateY(2px);
  }

  87% {
    transform: translateX(-2px) translateY(1px);
  }

  100% {
    transform: translateX(0px) translateY(0px);
  }
}


/* the selection for claiming */

#bulletin-outline {
  background-color: transparent;
  pointer-events: none;
  position: absolute;
  border: 5px dashed #E1C6B7;
}

#content-preview {
  position: absolute;
  background-color: #E1C6B7;
  opacity: 0.7;
  border: 2px dashed var(--sec-bg);
  text-align: start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: start;
  padding: 4px;
}

.bulletin {
  position: absolute;
  background-color: var(--sec-bg);
}

/* the actual board tiles n shit */

.tile-row {
  pointer-events: none;
  flex-grow: 0;
  width: min-content;
}

.tile {
  pointer-events: none;
}

.tile .grid {
  border: 1px dashed grey;
}

.highlight-preview {
  background-color: #E1C6B7;
}
