/* @@@@@@@@@@@@@@@@
 * FONTS
 * */
@font-face {
  font-family: "IBMPlexMono";
  src: url("/static/fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf") format("truetype");
  font-display: swap;
}


/* @@@@@@@@@@@@@@@@
 * BASE
 * */
html {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  margin: 0;
}

body {
  font-family: "IBMPlexMono", monospace;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "IBMPlexMono", monospace;
}

:root {
  --pri-bg: #F5E6E8;
  --sec-bg: #E1C6B7;
  --grass: #84B779;
}



/* @@@@@@@@@@@@@@@@
 * FIXED UI
 * */
#frame {
  width: 100%;
  padding: 4px;
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: left;
  align-items: center;
}



/* @@@@@@@@@@@@@@@@
 * THE BOARD
 * */
#board-wall {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#board-frame {
  position: relative;
  transform-origin: top left;
  background-color: transparent;
  width: calc(2002px + 200px);
  height: calc(2002px + 200px);
}

#board {
  cursor: grab;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  top: 100px;
  left: 100px;
  width: 2002px;
  height: 2002px;
  transform-origin: top left;
  background-size: 100px 100px;
  background-image:
    linear-gradient(to right, grey 2px, transparent 2px),
    linear-gradient(to bottom, grey 2px, transparent 2px);
}

.bulletin {
  position: absolute;
  background-color: var(--grass);
  color: black;
  /*border: 2px dashed var(--sec-bg);*/
  text-align: center;
  display: flex;
  font-size: 1rem;
  transform-origin: top left;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 4px;
  z-index: 10;
  text-wrap: wrap;
  word-break: break-all;
  word-wrap: break-word;
  user-select: none;
  /* Safari */
  -webkit-user-select: none;
}

/* @@@@@@@@@@@@@@@@
 * FLOWER PLANTING
 * */

#flower-preview {
  position: absolute;
  z-index: 20;
  pointer-events: none;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
}

#flower-preview-circle {
  border: 4px var(--sec-bg) solid;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  width: 100%;
  display: block;
}

#flower-preview-circle img {
  width: 100%;
  height: 100%;
}

#flower-preview form {
  pointer-events: all;
  position: absolute;
  opacity: 0;
  transition: opacity 200ms;
  transform-origin: top left;
  left: 100%;
  top: 100%;
  background-color: var(--sec-bg);
  display: flex;
  padding: 5px;
  gap: 5px;
  flex-direction: column;
  border-radius: 5px;
}

#flower-preview-form.left {
  left: 0;
  transform: translateX(-100%)
}

#flower-preview-form .buttons {
  display: flex;
  gap: 5px;
  width: 100%;
}

#flowers-layer {
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 20;
}

.flower {
  pointer-events: visibleFill;
  position: absolute;
  transform-origin: center;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}


/* @@@@@@@@@@@@@@@@
 * FLOATING MENU
 * */
#floating-menu {
  width: 0;
  height: 0;
  overflow-y: visible;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 50;
}

#floating-menu-ring {
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
  border: 3px solid var(--sec-bg);
  border-radius: 50%;
  position: absolute;
  transition: scale 100ms ease-out;
  transform-origin: center;
  scale: 0;
}

#floating-menu-ring .appear {
  scale: 1;
}

#floating-menu.appear>#floating-menu-ring {
  scale: 1;
}

#floating-menu-buttons>button {
  height: 1rem;
  font-size: 2rem;
  width: min-content;
  text-wrap: nowrap;
  left: -50%;
  background-color: transparent;
  border: none;
  color: var(--sec-bg);
  transition: opacity 200ms ease-in-out;
  opacity: 0;
  animation: 5s button-floating 0s linear infinite;
}

#floating-menu.appear button {
  opacity: 1;
}

@keyframes button-floating {
  0% {
    transform: translateX(0px) translateY(0px);
  }

  12% {
    transform: translateX(2px) translateY(1px);
  }

  25% {
    transform: translateX(3px) translateY(2px);
  }

  37% {
    transform: translateX(2px) translateY(3px);
  }

  50% {
    transform: translateX(0px) translateY(2px);
  }

  62% {
    transform: translateX(-2px) translateY(3px);
  }

  75% {
    transform: translateX(-3px) translateY(2px);
  }

  87% {
    transform: translateX(-2px) translateY(1px);
  }

  100% {
    transform: translateX(0px) translateY(0px);
  }
}

/* @@@@@@@@@@@@@@@@
 * CLAIMING
 * */
#bulletin-outline {
  background-color: transparent;
  pointer-events: none;
  position: absolute;
  border: 5px dashed #E1C6B7;
}

.bulletin-preview {
  position: absolute;
  pointer-events: none;
  background-color: var(--grass);
  opacity: 0.7;
  border: 2px dashed var(--sec-bg);
  text-align: start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: start;
  padding: 4px;
  z-index: 10;
}



/* @@@@@@@@@@@@@@@@
 * CLAIM VIEW
 * */

#claim-page {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#claim-container {
  width: 50%;
  height: calc(100% - 200px);
  margin: auto;
}

#claim-bulletin-card-slot {
  position: relative;
  width: 100%;
  height: 50%;
  margin: 20px 20px;
}

#claim-bulletin-card {
  background-color: #E1C6B7;
  color: black;
  border: 2px dashed var(--sec-bg);
  text-align: start;
  display: flex;
  font-size: 1rem;
  transform-origin: top left;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: start;
  padding: 4px;
  z-index: 10;
  box-shadow: 4px 3px 221px 15px rgba(255, 255, 255, 0.31);
  -webkit-box-shadow: 4px 3px 221px 15px rgba(255, 255, 255, 0.31);
  -moz-box-shadow: 4px 3px 221px 15px rgba(255, 255, 255, 0.31);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#bulletin-claim-form {
  color: white;
  display: flex;
  flex-flow: column;
  gap: 4px;
}


@keyframes card-rotate {

  /* Center */
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
  }

  /* Top Left */
  20% {
    transform: rotate3d(-1, 1, 0, 15deg);
  }

  /* Top Right */
  40% {
    transform: rotate3d(-1, -1, 0, 15deg);
  }

  /* Bottom Left */
  60% {
    transform: rotate3d(1, 1, 0, 15deg);
  }

  /* Bottom Right */
  80% {
    transform: rotate3d(1, -1, 0, 15deg);
  }

  /* Back to Center */
  100% {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
