{{ block "board" . }}
<div id="board-wall" data-xpos="" data-ypos="">
  <div id="board-frame">
    <div id="board" class="board" style="">
      {{ template "bulletins" .Bulletins }}
      <div id="flowers-layer">
        {{ range .Flowers }}
        {{ template "flower" . }}
        {{ end }}
      </div>
      <div id="bulletin-outline">
        <a id="bulletin-claim-button" hidden href="/claim">
          <svg fill="#ffffff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 45.701 45.7" xml:space="preserve">
            <g id="SVGRepo_iconCarrier">
              <path
                d="M20.687,38.332c-2.072,2.072-5.434,2.072-7.505,0L1.554,26.704c-2.072-2.071-2.072-5.433,0-7.504 c2.071-2.072,5.433-2.072,7.505,0l6.928,6.927c0.523,0.522,1.372,0.522,1.896,0L36.642,7.368c2.071-2.072,5.433-2.072,7.505,0 c0.995,0.995,1.554,2.345,1.554,3.752c0,1.407-0.559,2.757-1.554,3.752L20.687,38.332z">
              </path>
            </g>
          </svg>
        </a>
      </div>

      <div id="flower-preview">
        <div id="flower-preview-circle">
          <img id="flower-preview-image" src="/static/images/flower-1.svg" />
        </div>
        <form id="flower-preview-form" hx-post="/flower" hx-include="[name='species']" hx-swap="beforeend"
          hx-target="#flowers-layer">
          <label for="position">Position:</label>
          <input name="position" type="text" readonly />
          <label>Flower Species</label>
          <input hidden readonly value="1" name="species" id="flower-species-input" />
          <div id="flower-species-selector">
            <img data-value="1" src="/static/images/flower-1.svg" />
            <img data-value="2" src="/static/images/flower-2.svg" />
            <img data-value="3" src="/static/images/flower-3.svg" />
            <img data-value="4" src="/static/images/flower-4.svg" />
            <img data-value="5" src="/static/images/flower-5.svg" />
            <img data-value="6" src="/static/images/flower-6.svg" />
          </div>
          <label for="scale">Size</label>
          <input name="scale" id="scale" class="menu" type="range" id="flower-size" min="0.5" max="1" step="0.05" />
          <label for="message">Flower Message:</label>
          <input name="message" id="message" type="text" placeholder="optional message" />
          <div class="buttons">
            <button type="button" id="move-flower-button">Move</button>
            <button type="button" id="cancel-flower-button">Cancel</button>
            <button type="submit" id="submit-flower-button">Request Planting</button>
          </div>
        </form>
      </div>

      <div id="floating-menu">
        <div id="floating-menu-ring"></div>
        <div id="floating-menu-buttons">
        </div>
      </div>
    </div>
    <div id="bulletin-card">
    </div>
  </div>
</div>
{{ end }}

{{ block "bulletins" . }}
{{ range . }}
{{ template "bulletin" .}}
{{ end }}
{{ end }}

{{ block "bulletin" . }}
<div class="bulletin"
  style="position: absolute; left: {{.X_}}px; top: {{ .Y_ }}px; width: {{ .Width }}px; height: {{ .Height }}px;">
  <div id="bulletin-face">
    {{ .Content }}
  </div>
</div>
{{ end }}
